.droppable {
    border: 2px solid greenyellow;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
}

.over {
    background-color: #ebffd4;
}

.can {
    background-color: #f7ffee;
}

.big {
    height: 70%;
}